.App {
  text-align: center;
}

.circle1 {
  float: left;
  width: 200px;
  height: 200px;
   margin-left: 30px; 
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  /* text-align: right; */
  border-radius: 50%;
  display: flex;

}
.circle2 {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  /* text-align: right; */
  border-radius: 50%;
  display: flex;
}

.circle3 {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle(); 
  background: lightblue;
  /* text-align: right; */
  border-radius: 50%;
  display: flex;
}
 
.circle4 {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  /* text-align: right; */
  border-radius: 50%;
} 

